[submodule "deps/libdap"]
	path = deps/libdap
	url = git@gitlab.demlabs.net:cellframe/libdap.git
[submodule "deps/libdap-crypto"]
	path = deps/libdap-crypto
	url = git@gitlab.demlabs.net:cellframe/libdap-crypto.git
[submodule "deps/libdap-server-core"]
	path = deps/libdap-server-core
	url = git@gitlab.demlabs.net:cellframe/libdap-server-core.git
[submodule "deps/cellframe-sdk"]
	path = deps/cellframe-sdk
	url = git@gitlab.demlabs.net:cellframe/cellframe-sdk.git
